:root {
  --accent-kleur: red;    
  --accent-gedempt: grey;  
  --inkt-kleur: black;   
  --papier-kleur: white;    
}


body {
    background-color: rgb(250, 239, 230);
}

header > h1 {
    color: rgb(255, 136, 0);
}

header > p {
    color: rgb(139, 132, 124);
}

nav a {
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-weight: bold;
    accent-color: black;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

nav a:focus {
    text-decoration: underline;
    color: black;
}

main a {
  color: var(--accent-kleur);
  text-decoration: underline;
  transition: background-color 0.2s ease, color 0.2s ease; 
  /* transtion die zorgt voor smoothere overgang omda die ervoor wat raar uitzag. */
}

main a:hover, main a:focus {
  color: var(--papier-kleur);
  background-color: var(--accent-kleur);
  text-decoration: none; 
  outline: none;        
}

nav a:focus {
    text-decoration: underline;
    color:black;
}

article p:nth-child(2) {
    font-size: 1.2rem;
}

article h3 {
    color: grey;
}

.kaart li:nth-child(odd) {
    background-color: rgba(138, 72, 10, 0.253);
}

.prijs {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}

#bonen {
    font-style: italic;
}

#praktisch {
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    text-align: center;   
    color: grey;
}

main p:nth-of-type(3) a {
    color: rgb(255, 136, 0);
}


main p:nth-of-type(5) strong {
    color: rgb(255, 136, 0);
}


footer a {
  color: var(--accent-gedempt);
  text-decoration: none;      
  transition: color 0.2s ease;
}

footer a:hover, footer a:focus {
  color: var(--accent-kleur);
  text-decoration: underline;  
}
